**/.DS_Store
.*pyc
/dist/
/*.egg-info
*.swp
tasmanian/tests/*html
./tasmanian_venv/
tasmanian_venv/*
tasmanian/*sh 
tasmanian/*nf 
tasmanian/*indices 
tasmanian/*jobs 
new_results 
tasmanian/*.sam 
tasmanian/*fq
