**/.DS_Store
*pyc
/dist/
/*.egg-info
*.swp
tasmanian/tests/*html
tasmanian/tests/new_test.table.csv
tasmanian_venv*
*pyc
*table
*metrics
*summary
*bam
tasmanian/test_suite/Damage-estimator
target/*
test_output/*
# pixi environments
.pixi/*
!.pixi/config.toml
